:root {
    --bg-dark: #14120b;
    --bg-white: #edecec;
    --text-color-white: #ffffff;
    --text-color-orange: #f54e00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-color-white);
    width: 95%;
    margin: 0 auto;
}

/* navbar */

.nav-bar{
    padding: 4px 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    position: fixed;
    background-color: var(--bg-dark);
}


.nav-bar-container{

    max-width: 1200px;
    margin: 0 auto;

    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav-left{
    margin-top: 5px;
}

.nav-center a {
    margin: 0 14px;
    color: var(--text-color-white);
    font-size: 14px;
    text-decoration: none;
}


.sign-in-btn{
    background-color: var(--bg-dark);
    color: var(--text-color-white);
    font-size: 13px;
    padding: 4px 12px;
    border: grey 0.2px solid;
    border-radius: 10px;
    cursor: pointer;
}
.sign-in-btn:hover{
    background-color:  #1c1a12;
}

.download-btn{
    background-color: var(--bg-white);
    padding: 4px 12px;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-left: 2px;
}

.download-btn:hover {
    background-color: #e0e0e0;
}


/*  hero section */
.hero{
    margin-top: 130px;
    margin-bottom: 80px;

}

.hero-container{
    
    line-height: 1.8;
}

.hero-tag{
    color: gray;
    font-size: 16px;
    margin-left: 2px;
    font-weight: 500;
}

.hero-title{
    font-size: 20px;
    margin-bottom: 12px;
    margin-left: 2px;
}

.hero-btn{
    background-color: var(--bg-white);
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 18px;
    cursor: pointer;
    border: none;
    margin-left: 2px;
    margin-bottom: 50px;
}

.hero-btn:hover {
    background-color: #e0e0e0;
}

.hero-image img{
    width: 100%;
    padding: 0px 18px;
}



/* features-card */

.features-cards{
    margin-left: 10px;
    margin-bottom: 80px;
}

.features-cards-container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.features-card {
  width: 380px;
  background-color:#1d1b15;
  border-radius: 12px;
  padding: 22px;

  display: flex;
  flex-direction: column;
}

.features-card h3 {
    font-size: 16px;
    margin-bottom: 4px;
}

.features-card p {
    font-size: 14px;
    color: gray;
    line-height: 1.4;
    margin-bottom: 14px;
    font-weight: 500;
}

/* feature-block */

.feature-block{
    width: 100%;
    margin-bottom: 80px;
}

.feature-block-container{
    background-color: #1d1b15;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-block-text {
    padding: 10px;
}

.feature-block-text h3{
   font-size: 24px;
   font-weight: 500;
}

.feature-block-text p{
   font-size: 16px;
   color: gray;
   font-weight: 500;
}

.feature-block-img{
    padding-left:20px; 
}

.orange-text{
    color: var(--text-color-orange);
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
}

.orange-text-new-feature{
    color: var(--text-color-orange);
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;

}